
.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:100%!important;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
	margin:20px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3{
margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.box_4{
	margin:20px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
	background: #9f17f6;;
  color: #fff;
  padding:5px 10px 5px 10px;
  font-size:16px;
  width: 60%;
  box-shadow:1px 1px 1px 1px grey;
  margin: -10px 0px -10px 0px;
}
.form-group{
	padding:200px 0px 200px 0px;
	
}
.button h4{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
 
}
.button button{
	color:#fff;
	font-size:16px;
	font-weight:600;
	background:#9f17f6;
	border-radius:10px;
	padding:5px 30px 5px 30px;
}
.button{
  margin: 160px 40px 20px 40px;
}
.arrow{
  margin: -53px 0px -53px 0px;
}
@media (min-width:320px) and (max-width:767px) {

.header{
 
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:20%;
}
.header1{
 
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
	margin:20px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:10px 0px 10px 0px;
  height: 250px;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
margin:10px 0px 10px 0px;
  height:275px;
  border-radius: 50px;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:20px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
	background: #9f17f6;;
  color: #fff;
  padding:5px 10px 5px 10px;
  font-size:16px;
  width: 60%;
   margin: -10px 0px -10px 0px;
  box-shadow:1px 1px 1px 1px grey;
}
.form-group{
	padding:270px 0px 270px 0px;
	
}
.button h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
.button button{
	color:#fff;
	font-size:16px;
	font-weight:600;
	background:#9f17f6;
	border-radius:10px;
	padding:5px 30px 5px 30px;
}
.button {
    margin: 160px 65px 20px 65px;
}
.arrow{
  margin: -53px 0px -53px 0px;
}
}

@media (min-width:768px) and (max-width:1024px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
	margin:20px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:585px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
	background: #9f17f6;;
  color: #fff;
  padding:5px 10px 5px 10px;
  font-size:16px;
   margin: -10px 0px -10px 0px;
  box-shadow:1px 1px 1px 1px grey;
  width: 60%;
}
.form-group{
	padding:270px 0px 270px 0px;
	
}
.button h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
.button button{
	color:#fff;
	font-size:16px;
	font-weight:600;
	background:#9f17f6;
	border-radius:10px;
	padding:5px 30px 5px 30px;
}
.button{
  margin: 160px 0px 20px 0px;
}
.arrow{
  margin: -53px 0px -53px 0px;
}
}

@media (min-width:990px) and (max-width:1024px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
	margin:20px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
margin:10px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:20px 0px 10px 0px;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
	background: #9f17f6;;
  color: #fff;
  padding:5px 10px 5px 10px;
  font-size:16px;
   margin: -10px 0px -10px 0px;
  box-shadow:1px 1px 1px 1px grey;
  width: 60%;
}
.form-group{
	padding:200px 0px 200px 0px;
	
}
.button h4{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
 
}
..button button{
	color:#fff;
	font-size:16px;
	font-weight:600;
	background:#9f17f6;
	border-radius:10px;
	padding:5px 30px 5px 30px;
}
.arrow{
  margin: -53px 0px -53px 0px;
}
}
.button {
    margin: 155px 0px 20px 0px;
}