body{font-family: 'Poppins', sans-serif !important;}
.main-headersty{padding-top: 6px; padding-bottom: 6px;}
.selctlang-sty{margin-top: 10px;}
.lang-iconchange{background-image: url(../../assets/landing/img/lang.png); -webkit-appearance: none; appearance: none; padding-right: 38px !important; background-size: 25px; background-repeat: no-repeat; background-position: 96%; border: 0px solid #65b1ef; height: 38px; text-transform: uppercase; box-shadow: 0px 0px 0px 2px rgba(101, 177, 239, 0.58); padding: 3px; border-radius: 5px;}
.main-stycolor951{background-color: #fff;}
.main-databg651{/*background-color: #fff;*/ margin-top: 30px; padding: 40px 0px;}
.end-userimgsty{text-align: center;}
.end-userimgsty img{max-width: 100%;}
.end-userdata951sty{text-align: left; padding-top: 25px;}
.end-userdata951sty button{background-color: #d60865; color: #fff; border: 1px solid #fff; padding: 5px 17px; font-size: 16px; text-transform: uppercase; font-weight: 400; box-shadow: 0px 0px 0px 3px rgb(214, 8, 101); letter-spacing: 0.6px; margin-bottom: 4px;}
.end-userdata951sty h4{font-size: 18px; color: #000; text-transform: capitalize;}
.data-userdata951sty{text-align: left; padding-top: 25px;}
.data-userdata951sty button{background-color: #7030a0; color: #fff; border: 1px solid #fff; padding: 5px 17px; font-size: 16px; text-transform: uppercase; font-weight: 400; box-shadow: 0px 0px 0px 3px rgb(112, 48, 160); letter-spacing: 0.6px; margin-bottom: 4px;}
.data-userdata951sty h4{font-size: 18px; color: #000; text-transform: capitalize;}
.main-martop951{margin-bottom: 20px;}
.moderan-dataulsty{text-align: center; padding-top: 15px;}
.moderan-dataulsty ul{padding-left: 0px;}
.moderan-dataulsty ul li{display: block; font-size: 20px; margin-bottom: 6px; font-weight: 400; color: #686464;}

.bounce {-moz-animation: bounce 2s infinite; -webkit-animation: bounce 2s infinite; animation: bounce 2s infinite; margin-top: 30px; background-color: #65b1ef; display: inline-block; padding: 5px; width: 50px; height: 50px; border-radius: 50%; padding-top: 10px; border: solid 2px #fff; box-shadow: 0px 0px 0px 4px #65b1ef; }
.bounce i{color: #fff; font-size: 27px;}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0); }
  40% {transform: translateY(-30px); }
  60% {transform: translateY(-15px); }
}
.process-flowsty951{border-bottom: 0px; text-transform: uppercase; margin-left: 0px; color: #009ae1; width: auto; display: inline-table; position: relative; margin-bottom: 32px;z-index: 98;}
.process-flowsty951:before{position: absolute; content: ''; background-color: #00a4e7; width: 74%; height: 2px; right: 0; top: -3px;}
.process-flowsty951:after{position: absolute; content: ''; left: 0; right: 0; background-color: #00a4e7; width: 74%; height: 2px; bottom: -5px;}
.arroeser-pos951{position: relative; text-align: right; width: 68%;}
.arroeser-pos951 img{position: absolute; top: auto; bottom: -101px; left: auto; right: -8px; margin: auto; width: 219px; z-index: 8;}
.progress-tracker--text-top .progress-marker {background-color: #9f17f6 !important; border: solid 2px #fff; box-shadow: 0px 0px 0px 3px rgb(159, 23, 246); font-size: 20px; font-weight: 600; text-align: center;
padding-top: 3px;}

.procee-flow951 .progress-marker.own_color {background-color: #ec008c !important; border: solid 2px #fff; box-shadow: 0px 0px 0px 3px rgb(236, 0, 140); font-size: 20px; font-weight: 600; text-align: center;
padding-top: 3px;}
.procee-flow951 .progress-step.is-complete:after{background-color: #ec008c !important;}
.progress-tracker--text-top .progress-text {min-height: 143px !important;}

.login-dcsty{background: linear-gradient(45deg, #9f17f6, #dfbdf5, #9f17f6); color: #fff; padding: 10px 28px; background-size: 200% 200%; background-position: center left; border: 0px; border-radius: 45px !important; font-size: 15px; font-weight: 600;}
.login-dcsty:hover{-webkit-animation: background-rainbow 1s infinite linear alternate; animation: background-rainbow 1s infinite linear alternate; }

@-webkit-keyframes background-rainbow{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.login-enduser951{background: linear-gradient(45deg, #ec008c, #c480f0, #ec008c); color: #fff; padding: 10px 28px; background-size: 200% 200%; background-position: center left; border: 0px; border-radius: 45px; font-size: 15px; font-weight: 600;}
.login-enduser951:hover{-webkit-animation: background-rainbow 1s infinite linear alternate; animation: background-rainbow 1s infinite linear alternate; }
.form-maindatabg951{background-color: #f0f0f0; padding: 37px 15px; border: solid 6px #fff;
box-shadow: 0px 0px 0px 7px #f0f0f0;}

.logo-footersty {background-color: #fff; border-radius: 50% !important; width: 150px; height: 150px; margin: auto; margin-bottom: auto; text-align: center; padding-top: 27px; margin-bottom: 20px; }
.footer_heading1 {color: #fff; font-size: 17px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; margin-bottom: 10px; }
.footer_links {margin-bottom: 10px; padding: 0; }
.footer_links li {display: inline-block; min-width: 70%; margin-bottom: 3px; padding-left: 12px; }
.footer_links li a {display: inline-block; width: 100%; position: relative; padding-right: 5px; color: #fff; }
.footer_txt li span {display: inline-block; color: #fff; word-break: break-word; }
.footer_copy_right {text-align: center; }
.footer_copy_right p {margin: 0; color: #fff; font-size: 15px; letter-spacing: 0.5px; word-spacing: 1px; position: relative; padding-bottom: 5px; }
.footer_copy_right p::after {content: ''; position: absolute; background: #fff; height: 1px; width: 100%; max-width: 200px; left: 0; right: 0; bottom: 0; margin: auto; }
.footer_txt {padding: 0; margin-bottom: 10px; }
.footer_txt li {display: inline-block; width: 100%; }
.img-footerlogo{width: 138px;}
.carousel, .item, .active {height: 100%;}
.carousel-inner {height: 100%; background: #000;}
.carousel-caption{padding-bottom: 80px !important; position: absolute !important; top: 30% !important; left: 0px !important; right: 0px !important; text-align: left !important; width: 71%; margin: auto;}
.carousel-caption h2{font-size: 54px; letter-spacing: 2.5px; text-transform: uppercase;} 
.carousel-caption p{font-size: 33px; position: relative;width: auto; display: initial;}
.carousel-caption p:before{position: absolute;content: ''; width: 65%; height: 2px; background-color: #65b1ef; bottom: -17px;}
.carousel-caption p:after{position: absolute; content: ''; width: 10px; height: 10px; background-color: #65b1ef; bottom: -21px; border-radius: 50%; left: 65%;}
.fill {width: 100%; height: 100%; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; opacity:0.6;}
.btn-transparent {background: transparent; color: #fff; border: 2px solid #fff;}
.btn-transparent:hover {background-color: #fff;}
.btn-rounded {border-radius: 70px;}
.btn-large {padding: 11px 45px; font-size: 18px;}
.animated {-webkit-animation-duration: 1.5s; animation-duration: 1.5s;}
@-webkit-keyframes fadeInRight {
  from {opacity: 0; -webkit-transform: translate3d(100px, 0, 0); transform: translate3d(100px, 0, 0); }
  to {opacity: 1; -webkit-transform: none; transform: none;}
}

@keyframes fadeInRight {
  from {opacity: 0; -webkit-transform: translate3d(100px, 0, 0); transform: translate3d(100px, 0, 0); }
  to {opacity: 1; -webkit-transform: none; transform: none;}
}

.fadeInRight {-webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
.logo-topsty{max-width: 100%;}
.top_contlinks{padding-left: 0px;margin-top: 16px;}
.top_contlinks li{display: inline-block;margin-left: 12px; margin-right: 12px;}
.top_contlinks li a{color: #fff !important; font-size: 16px !important;}
.top_contlinks li a i {margin-right: 12px; width: 28px; height: 28px; background: #65b1ef; padding: 5px; text-align: center; border-radius: 50%; color: #fff; font-size: 16px !important; border: solid 1px #fff; box-shadow: 0px 0px 0px 2px #65b1ef !important; }
.main-datacenterdata951{padding-top: 60px; padding-bottom: 60px;}
.datacenter-datalist951{}
.datacenter-datalist951 p{font-size: 15px; line-height: 1.4;}
.datacenter-datalist951 h5{font-size: 22px;
margin-top: 13px;
margin-bottom: 13px;
color: #65b1ef;}
.datacenter-datalist951 h6{font-size: 16px; color: #009ae1;width: calc(100% - 100px);
display: inline-block;}
.datacenter-datalist951 ul{padding-left: 0px;}
.datacenter-datalist951 ul li{display: block;}
.main-bgchange621{background-color: #fcfcfc !important;}
.navbar-inverse {background-color: rgba(1, 2, 1, 0.6) !important; border-color: transparent !important; position: absolute !important; z-index: 9 !important; width: 100% !important; text-align: center; border-radius: 0px !important; padding: 12px 0px !important;}
.uldatacenter-menuy951{display: inline-block !important; float: right !important; margin-top: 6px !important;}
.center-datamenu{text-align: center !important;}
.uldatacenter-menuy951 li{}
.uldatacenter-menuy951 li a{font-size: 14px; color: #fff !important; padding: 10px 8px !important;
letter-spacing: 1.5px;}
.fixed-header {position: fixed !important; top: 0; left: 0; width: 100% !important; background-color: #fff !important;z-index: 980 !important;box-shadow: 0px -4px 11px 2px rgba(0, 0, 0, 0.18);}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 220px;
overflow-y: auto;
z-index: 98514520;
margin-top: 69px;
		background-color: rgba(5, 7, 23, 0.94) !important;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
.modal-content {border-radius: 0; border: none;}
.modal-header {border-bottom-color: #EEEEEE; background-color: #FAFAFA; }
.demo {padding-top: 60px; padding-bottom: 110px; }
.btn-demo {margin: 15px; padding: 10px 15px;border-radius: 0; font-size: 16px; background-color: #FFFFFF;}
.btn-demo:focus {outline: 0;}
.demo-footer {position: fixed; bottom: 0; width: 100%; padding: 15px; background-color: #212121; text-align: center;}
.demo-footer > a {text-decoration: none; font-weight: bold; font-size: 16px; color: #fff;}
.login-sidemenusty{}
.login-sidemenusty ul{}
.login-sidemenusty ul li{}
.login-sidemenusty ul li a{}


/*====================================*/
.sidebar {height: 324px; width: 0; position: fixed; z-index: 98663; top: 75px; right: -8px; background-color: #fff; overflow-x: hidden; transition: 0.5s; padding-top: 60px; border: solid 2px #fff; padding-top: 0px !important; box-shadow: 0px 0px 7px 2px rgba(125,125,125,0.6); }
.sidebar a {padding: 5px 5px 8px 20px; text-decoration: none; font-size: 25px; color: #000; display: block; transition: 0.3s;}
.openbtn {font-size: 20px; cursor: pointer; background-color: #111; color: white; padding: 10px 15px; border: none; }
.openbtn:hover {background-color: #444; }
#main {transition: margin-left .5s; padding: 16px; }
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.login-hadsty{width: auto; display: inline-block; font-size: 26px; text-transform: uppercase; color: #65b1ef !important;}

.main-popdataleft{margin-top: 0px;}
.main-popdataleft ul{padding-left: 0px; margin-left: 0px;}
.main-popdataleft ul li{display: block; text-align: center; margin-bottom: 10px;}
.main-popdataleft ul li a{ display: inline-block; color: #fff; padding: 12px 25px; border-radius: 0px; width: auto; margin: auto; text-decoration: none;
text-transform: uppercase; font-size: 16px !important;background: linear-gradient(45deg, #9f17f6, #dfbdf5, #9f17f6);background-size: 200% 200%;
background-position: center left;width: 79%;}
.main-popdataleft ul li a:hover {
    -webkit-animation: background-rainbow 1s infinite linear alternate;
    animation: background-rainbow 1s infinite linear alternate;
}

.login-hadsty p{position: relative; display: inline-block;}
.login-hadsty p::before {position: absolute; content: ''; width: 65%; height: 2px; background-color: #65b1ef; bottom: -17px; }

.login-hadsty p::after {position: absolute; content: ''; width: 10px; height: 10px; background-color: #65b1ef; bottom: -21px; border-radius: 50%; left: 65%; }
.pop-closesty951{text-align: center; margin-top: 11px;}
.pop-closesty951 span{font-size: 36px; background-color: #65b1ef; color: #fff; width: 40px; height: 40px; text-align: center; line-height: 36px; border-radius: 50%; display: block; margin: auto; border: solid 2px #fff; box-shadow: 0px 0px 0px 2px rgb(101, 177, 239); cursor: pointer;}
.login-maindatahad{text-align: center; margin-top: 16px;border-bottom: solid 1px #e0dde3; margin-bottom: 14px;}
.login-maindatahad p{font-size: 27px; text-transform: uppercase; font-weight: 600; letter-spacing: 1.5px;
color: #d70459;}

.main-topbanner951{background-image: url(../../assets/landing/img/datacenter-servers.jpg);  background-size: cover; background-repeat: no-repeat;}
.main-layer951data{background-color: rgba(125, 125, 125, 0.62); padding-top: 220px; padding-bottom: 80px;}
.main-layer951data h6{text-align: center; width: auto; color: #fff; font-size: 48px; letter-spacing: 4px; position: relative; margin: auto;} 
.main-layer951data h6:before{content: ''; position: absolute; width: 77%; height: 2px; background-color: #fef9f9; left: 0; right: 0; bottom: -11px; margin: auto;}
.progress-step.is-complete::after {background-color: #9f17f6 !important;}

.form-loginsty951{width: auto; display: inline-block; float: left; background-color: #d60865; color: #fff; padding: 1px 53px; margin-bottom: 32px; margin-top: -64px;}
.form-loginsty951 h6{font-size: 20px;}
.create-newacountsty951{text-align: center; margin-top: 32px;}
.create-newacountsty951 a{font-size: 18px; text-decoration: underline !important; color: #827a7a;}
.login-forminputsty {}
.login-forminputsty span{background-color: #fff; color: #c1baba; font-size: 20px;}
.login-forminputsty input{height: 45px;}
.end-usersec1{padding-top: 60px; padding-bottom: 60px;}
.end-usersec2{padding-top: 60px; padding-bottom: 60px;background-color: #fcfcfc;}
.form-marsty951{margin-bottom: 20px;}

.cal-datafooter951{background-color: #fff; border: solid 1px #eeebeb; padding: 9px; border-radius: 9px !important; margin-top: 20px;}
.cal-datafooter951 img{max-width: 100%;}
.cal-datafooter951 h4{min-height: 58px; line-height: 1.5; vertical-align: middle; font-size: 17px;}
.logo-substy{margin-top: 0px !important; padding: 0px !important; position: relative;}
.logo-substy img{max-width: 300px;}
/*.logo-substy:before{content: ''; position: absolute; background-color: rgba(1, 2, 1, 0.6) !important; width: 137px; left: 0; right: 0; bottom: -44px; height: 31px;}*/
.pading-zerosty{margin-right: 0px !important !important; padding-right: 0px !important;}
.wel-comemessage{}
.wel-comemessage p{color: #fff; font-size: 16px; margin-top: 20px;}
.overlapsty95{position: absolute; z-index: 9898; border-bottom: 1px solid #fff !important; width: 100%; background-color: rgba(1, 2, 1, 0.6) !important;}

.mail-us {border-top: 1px solid #ccc; padding-top: 30px; font-size: 20px; color: #717171; text-align: center; padding-bottom: 30px;}
.mail-us span {margin: 0 22px; }
.mail-us a {font-size: 25px;}
.mail-us a .fa {color: #717171; margin: 0 14px; }
footer {background: #373d41 !important;}
footer .sub-footer {background: #009ae1; padding: 0 2%; }
.saphansec2 h2, .saphansec3 h2, .sub-footer ul {text-align: center; } 
footer .sub-footer li {display: inline-block; border-right: 1px solid #fff; margin: 16px 0; }
footer .sub-footer li a {color: #fff; padding: 3px 10px; display: block; font-size: 13px; }
footer .footer-menu {padding: 30px 2%; color: #aeb0b1; display: inline-block; width: 100%; }
.footer-menu ul {display: inline-block; margin-right: 40px; }
.footer-menu a {color: #a8aaab; font-size: 12px; }
footer .footer-menu strong {display: block; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 18px; }
footer .response a {font-size: 14px; }
.footer-menu a {color: #a8aaab; font-size: 12px; }
footer .experts {margin-top: 12px; }
footer .payment-bar {padding: 10px 2%; }
.copy, footer .payment-bar {border-top: 1px solid #4b5154; width: 100%; }
footer .social {text-align: left; margin-bottom: 0; }
footer .social li:first-child {width: 100%; border: none; font-size: 22px; color: #d1d2d2; padding-right: 0; text-align: left; margin: 0; height: 50px; }
footer .social li {margin-right: 10px; display: inline-block; border: 1px solid #ccc; border-radius: 4px; width: 48px; height: 48px; text-align: center; padding-top: 12px; }
footer .social li a {color: #fff; font-size: 22px; }
footer .payment li:first-child {border: none; width: 100%; display: inline-block; line-height: normal; text-align: left; color: #d1d2d2; font-size: 22px; margin-top: 0; margin-left: 0; margin-right: 0; height: 50px; }
footer .payment li {border: 1px solid #ccc; display: inline-block; width: 75px; border-radius: 4px; text-align: center; height: 48px; margin-right: 7px; position: relative; }
footer .payment li strong {display: block; color: #d1d2d2; font-size: 12px; line-height: 2px; }
footer .payment li img {position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; }
.footer-menu ul {display: inline-block; margin-right: 40px; }
.imgaboutsty951{}
.imgaboutsty951 img{}

.why_choose {
    padding: 50px 0 15px;
    background: #f6fafb;
}
.sectionTitle {
    text-align: center;
    margin-bottom: 15px;
}
/*.sectionTitle h2 {
    font-size: 36px;
    font-weight: 100;
    color: #f58d1e;
}*/
.cause2choose:nth-child(1), .cause2choose:nth-child(2), .cause2choose:nth-child(3) {
    margin-top: 0;
}
.cause2choose {
    margin-top: 0;
    margin-bottom: 15px;
}
.cause2choose {
    min-height: 150px;
}
.media {
    padding: 5px;
    border: 1px solid #dce7ea;
    height: 170px;
}

.cause2choose .media .media-left {
    background: #58595e;
    float: left;
    padding: 2px;
    border-radius: 50%;
    margin: 5px 10px 0 0;
}

.cause2choose .media .media-left a {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    padding: 15px;
    border: 2px solid #fff;
    float: left;
}
.cause2choose .media .media-left a img {
    width: 100%;
    height: 100%;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.cause2choose .media .media-body h4 {
    margin: 10px 0;
}
.cause2choose .media .media-body h4 {
   margin-top: 15px;
margin-bottom: 9px;
font-size: 19px
}
.media-body h4, .sectionTitle h5 {
    color: #009ae1;
}

.cause2choose .media:hover {
    background: #fff;
    border: 1px solid #009ae1;
}

.cause2choose .media:hover .media-left, .testimo_box {background: #009ae1; }
.top-iconsty951{width: 29px; margin-right: 5px;}
.menu-iconsty{width: 20px; margin-right: 5px;}

.whitelogo-show{}
.planlogo-show{display: none !important;}
.fixed-header .planlogo-show{display: block !important;}
.fixed-header .whitelogo-show{display: none !important;}
.fixed-header .logo-substy::before {background-color: #fff !important;}
.fixed-header .uldatacenter-menuy951 li a {color: #6a6c6e !important;}
