.header{width: 100%; border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc; overflow: hidden;}
.header1{width: 100%; height:auto; float: left; background-color:#eaeaea!important; border: 3px solid #ccc; overflow: hidden;}
.box_1{margin-top: 2%; margin-right:7.6%; margin-left:7.6%; height: auto; border-radius: 50px; background: #fff; }
.data_img img{width:100%; height: 250px; float: left; margin: 2px 0px 2px 0px;}
.text p{padding: 20% 0% 25% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.box_2{margin:2% 0% -2% 0%; height: auto; border-radius: 50px; background: #fff;}
.box_3{margin:-2% 0% 2% 0%; height: auto; border-radius: 50px; background: #fff;}
.user{background: #9f17f6;; color: #fff; padding: 1% 1% 1% 1%; font-size:16px; box-shadow:1px 1px 1px 1px grey; width: 60%;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 24px; color: #838484; font-weight: 600; text-transform: capitalize;}
/*.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}*/
.progress_button{padding:15% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading{margin: 2% 0% 2% 0%}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
@media (min-width:140px) and (max-width:767px) {
.box_1{margin-top: 2%; margin-left:-0.4%; height: auto; border-radius: 50px; background: #fff;}
  }
@media (min-width:320px) and (max-width:767px) {
.header{border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc;}
.header img{width:120%; }
.header1{height:auto; float: left; background-color:#f7f7f7; border: 3px solid #ccc;}
.box_1{margin-top: 10%; margin-right: -0.4%; margin-left: -0.4%; height: auto; border-radius: 50px; background: #fff;}
.data_img img{width:100%; height: 250px; float: left; margin: 2px 0px 2px 0px;}
.text p{padding:  0% 0% 0% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.box_2{margin:2% 0% -6% 0%; height:400px; border-radius: 50px; background: #fff;}
.box_3{margin:-18% 0% 2% 0%; height:450px; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600;}
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.progress_button{padding:5% 0% 5% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:5% 0% 5% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:414px) and (max-width:570px) {
.header{border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc;}
.header img{width:120%;}
.header1{height:auto; float: left; background-color:#f7f7f7; border: 3px solid #ccc;}
.box_1{margin-top: 10%; margin-left: -0.4%; height: auto; border-radius: 50px; background: #fff;}
.data_img img{width:100%; height: 250px; float: left; margin: 2px 0px 2px 0px;}
.text p{padding:  0% 0% 0% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.box_2{margin:2% 0% -7% 0%; height:400px; border-radius: 50px; background: #fff;}
.box_3{margin:-12% 0% 2% 0%; height:450px; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600; }
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.progress_button{padding:5% 0% 5% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:5% 0% 5% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:570px) and (max-width:767px) {
.header{border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc; }
.header img{width:120%;}
.header1{height:auto; float: left; background-color:#f7f7f7; border: 3px solid #ccc;}
.box_1{margin-top: 10%; margin-left: -0.4%; height: auto; border-radius: 50px; background: #fff;}
.data_img img{width:100%; height: 250px; float: left; margin: 2px 0px 2px 0px;}
.text p{padding:  0% 0% 0% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.box_2{margin:2% 0% -7% 0%; height:400px; border-radius: 50px; background: #fff;}
.box_3{margin:-7% 0% 2% 0%; height:450px; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600;}
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.progress_button{padding:5% 0% 5% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey; }
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:5% 0% 5% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:768px) and (max-width:1024px) {
.header{width: 100%; border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc; }
.header img{width:60%;}
.header1{width: 100%; height:auto; float: left; background-color:#f7f7f7; border: 3px solid #ccc;}
.box_1{margin-top: 20px; margin-left: auto; margin-right: auto; height: auto; border-radius: 50px; background: #fff;}
.data_img img{width:100%; height: 250px; float: left; margin: 2px 0px 2px 0px;}
.text p{margin: 16% -50% 4% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.user{background: #9f17f6;; color: #fff; padding: 1% 1% 1% 1%; font-size:16px; box-shadow:1px 1px 1px 1px grey; width: 100%;}
.box_2{margin:2% 0% -3% 0%; height: auto; border-radius: 50px; background: #fff;}
.box_3{margin:-3% 0% 2% 0%; height: auto; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600;}
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.button{margin: 160px 0px 20px 0px;}
.progress_button{padding:75% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding:15% 26% 15% 26%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding:15% 26% 15% 26%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:1044px)  {
  .progress_button{padding:32% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:992px) and (max-width:1044px) {
.header{width: 100%; border-top: 3px solid #ccc; border-left: 3px solid #ccc; border-right: 3px solid #ccc; }
.header img{width:60%;}
.header1{width: 100%; height:auto; float: left; background-color:#f7f7f7; border: 3px solid #ccc;}
.box_1{margin-top: 2%; margin-left: auto; margin-right: auto; height: auto; border-radius: 50px; background: #fff;}
.data_img img{width:100%; height: 250px; float: left;% margin: 2px 0px 2px 0px;}
.text p{padding: 15% 0% 15% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
.box_2{margin:2% 0% -3% 0%; height: auto; border-radius: 50px; background: #fff;}
.box_3{margin:-3% 0% 2% 0%; height: auto; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600;}
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.progress_button{padding:32% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.heading h3{text-align: center; font-size:22px; color: grey; padding:2% 0% 0% 0%; font-weight: 600;}
}
@media (min-width:1920px) and (max-width:2144px) {
.box_2{margin:2% 0% -2% 0%; height: auto; border-radius: 50px; background: #fff;}
.box_3{margin:-2% 0% 2% 0%; height: auto; border-radius: 50px; background: #fff;}
.progress_button{padding:35% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
}
@media (min-width:3840px)  {
.box_2{margin:2% 0% -1% 0%; height: auto; border-radius: 50px; background: #fff;}
.box_3{margin:-1% 0% 2% 0%; height: auto; border-radius: 50px; background: #fff;}
.progress_btn{padding: 3% 0% 3% 0%;}
.progress_btn h3{text-align: center; font-size: 22px; color: grey; font-weight: 600;}
.progress_btn button{color:#fff; font-size:16px; background:#9f17f6; border-radius:10px; padding: 2% 10% 2% 10%;}
.data_img img{width:100%; height: 400px; float: left; margin: 2px 0px 2px 0px;}
.progress_button{padding:15% 0% 15% 0%;}
.progress_button h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.progress_button_1{padding:15% 0% 15% 0%;}
.progress_button_1 h4{font-size:14px; font-family: arial; text-align: center; color: grey;}
.progress_button_1 button{color:#fff; font-size:14px; background:#9f17f6; border-radius:10px; padding: 2% 15% 2% 15%;}
.text p{padding: 7% 0% 7% 0%; text-align: center; font-family: arial; font-size: 16px; color: grey;}
}


