.table-imgtop{}
.table-imgtop th{}
.table-imgtop th img{width: 44px;}
.load-resultpop{padding-top: 0px; padding-bottom: 10px;}
.load-resulthadsty{text-align: center; background-color: #5a1187; color: #fff; text-transform: uppercase; font-weight: 400; display: inline-block; font-size: 16px; margin-left: 42px; margin-top: -24px;padding: 11px 32px; border-radius: 5px;}

.load-resultdata{ text-align: center; padding-top: 40px;}
.pop-bottombutton{margin-bottom: 15px;}
.pop-bottombutton input{background-color: #5a1187 !important; border: solid 1px #5a1187 !important;}
.pop-bottombutton button{}
.all-inputbrowsesty{text-align: center;margin-bottom: 44px; padding: 0px 45px;}
.mainhadsty-allbut{background-color: #26344b !important; color: #fff !important;box-shadow: 0px 0px 0px 3px #26344b !important; border: solid 1px rgb(255, 255, 255) !important; margin-right: 10px;}
.mainhadsty-allbut i{color: #fff; margin-right: 6px;}
.input-groupmarsty{margin-bottom: 10px;width: 100%;}
.input-groupmarsty span.input-group-addon{background-color: #5a1187; color: #fff !important; text-align: center; width: 65px !important;}
.input-groupmarsty span.input-group-addon i{color: #fff !important; font-size: 24px !important;}
.input-groupmarsty input.form-control{min-height: 45px; width: calc(100% - 25px;) !important;}
.pop-addeusty{margin-bottom: 15px; margin-top: 15px; text-align: center;}
.pop-addeusty input{margin-right: 10px; background-color: #5a1187; border: 0px; padding: 10px 27px; color: #fff;}
.close-butstygray{background-color: #f0f0f0 !important; color: #000 !important;}
.active-deactivatepopsty{margin-bottom: 15px; margin-top: 15px; text-align: center;}
body .active-deactivatepopsty input, body .active-deactivatepopsty span button, body .active-deactivatepopsty button{margin-right: 10px;
background-color: #5a1187; border: 0px; padding: 10px 27px;
color: #fff; margin-right: 15px; border-radius: 25px !important;  border: 0px !important;}
.add-euclose-butstygray {background-color: #f0f0f0 !important; color: #000 !important; }
.template-data954user{}
.template-data954user th{background-color: #5a1187 !important; color: #fff; text-transform: uppercase; padding: 10px !important; font-size: 16px;}
.table-centertem658 tr td{padding: 10px !important;text-transform: capitalize;}
.font-sizemainhad986{color: #bf2476; font-size: 26px; font-weight: 600 !important; text-align: center; margin-bottom: 18px; border-bottom: solid 1px #e6e3e3; padding-bottom: 12px;text-transform: uppercase;}
.cat-submenutabs95{}
.cat-submenutabs95 li{margin-bottom: 15px;}
.cat-submenutabs95 li.active a{background: #800080;}
body .cat-submenutabs95s li.active i {background: #ff1b77 !important;}
body .ver-inline-menu li.active i {background: #d90ed9 !important;}
.ver-inline-menu li.active a {border-left: solid 2px #d90ed9 !important;}
.cat-submenutabs95 li a{padding: 8px; font-size: 16px !important; font-weight: 600; border-left: solid 2px #d90ed9;}
body .cat-submenutabs95 li a i{background: #d90ed9 !important; color: #fff !important;}
.cat-submenutabs95 li span{}
.ver-inline-menu li.active::after {border-left: 6px solid #800080 !important;}
.catgory-contminsty{border: solid 1px #dbdbdb; min-height: 262px; padding: 15px;}
.cat-searchsty954{padding: 0px 12px; width: 100%; border: solid 1px #dbdbdb; background-color: #f0f6fa; height: 45px;}
body .message-mainbgsty{border: solid 1px #5a1187; padding: 0px 20px; background-color: #fff; background-image: none !important; height: 450px; overflow: auto;}

.leftchat-message958{margin-bottom: 10px !important; margin-top: 10px !important; margin-right: 200px !important; padding: 10px !important; background: #f9f9f9 !important; border: 0px !important; border-radius: 0px !important; border-left: solid 2px #d70459 !important;}
.chat-rightmessage985{margin-bottom: 10px !important; margin-top: 10px !important; margin-left: 200px !important; padding: 10px !important; background: #f9f9f9 !important; color: #000 !important; border-radius: 0px !important; border: 0px !important;border-right: solid 2px #5a1187 !important;}
.chat-messagemainhad956{background-color: #5a1187; color: #fff; margin-top: 0px; padding: 15px 5px; width: calc(100% + 40px); margin-left: -20px;text-align: center; margin-bottom: 25px;}
.message-typeboxsty{background-color: #f9f9f9 !important; padding: 15px; width: calc(100% + 40px); margin-left: -20px;}
.chat-deletefloatleft{float: right; background-color: #d70459; width: 20px; height: 20px; text-align: center; line-height: 17px; border-radius: 50% !important;}
.chat-deletefloatleft a{color: #fff; text-decoration: none !important;}
.chat-sendbuttonsty985{text-align: center; margin-top: 15px;}
.chat-sendbuttonsty985 button{padding: 8px 56px; font-size: 18px; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; border-radius: 12px !important; background-color: #26344b;}
.chat-sendbuttonsty985 button:hover{background-color: #5a1187 !important;}
.chat-rightmessage985 table, .leftchat-message958 table {margin-bottom: 6px;}
.chat-rightmessage985 table tr td, .leftchat-message958 table tr td{border: 0px !important;}
.chat-rightmessage985 table tr td.bold, , .leftchat-message958 table tr td.bold{text-transform: uppercase;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #F7A8B6;}
.bg-whitesty961{background-color: #fff; padding: 15px 15px 15px 15px;}
.refresh-custbutsty985{background-color: #f4778d !important;color: #fff !important;border: 0px !important;}
.refresh-custbutsty985 i{color: #fff !important;}
.message-mainsty985dta{font-size: 14px; font-weight: 400; line-height: 1.5; margin-top: 7px;}
.dropdown-menu-list.scroller.showdata li a{text-align: left !important;}
.addvm-stydata9651{margin-bottom: 10px;}
.addvm-stydata9651 label{margin-bottom: 10px; font-size: 15px;}
.addvm-stydata9651 input{min-height: 45px;}
#logo123{max-width: 100%;}
.width-updatedate{display: block; width: 118px !important; padding-top: 22px !important;}
.color-changemenusty951 li a i{color: #F7A8B6 !important;}
.nav > li > a:hover, .nav > li > a:focus {background-color: #f9fafc !important;}
.chat-sendbuttonsty985 input {padding: 8px 56px; font-size: 18px; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; border-radius: 12px !important; background-color: #26344b; }
.temp-viewsty95632{background-color: #fff; padding: 5px 23px;}
.cat-buttonsty951{font-size: 14px; margin-right: 10px; margin-bottom: 7px !important;}
.cat-buttonsty951 i{margin-left: 6px; font-size: 14px;}
.panel-hadcuststy951{text-align: center; background-color: #5a1187 !important; color: #fff !important; font-size: 22px; text-transform: uppercase; font-weight: 600;}
.add-catstyform951{text-align: left !important; margin-bottom: 5px !important;}
.add-catstyform951 label{ margin-bottom: 8px !important; text-align: left !important; font-size: 15px; text-transform: uppercase; letter-spacing: 1px; } 
.add-catstyform951 input{min-height: 45px;}
.add-catbutsty962{text-align: center;}
.add-catbutsty962 button{background-color: #5a1187 !important; border: 0px !important; padding: 10px 27px !important; color: #fff; border-radius: 25px !important;}
.center-alldatasty th{text-align: center;}
.gray-purpalsty951 {background: #605f5f !important; color: #fff; font-weight: 600 !important; font-size: 20px !important; text-align: center !important; }